#top, 
#content, 
#footer, 
#add {
	margin:10px;
	padding:10px;
	border:solid 1px #007DC6;
}
#top .title {
	font: 20px/2em 黑体;
}
#content li.contact-list {
	background-color: #efefef;
	border: solid 1px #ccc;
	margin-bottom: 20px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
#content li.title1 {
	font-weight: bold;
	background-color: #007DC6;
}
#content li.contact-list span{
	display:inline-block;
	width:12%;
	text-align:center;
}
#login-box {
	margin: 10% auto;
	width: 28%;
	padding: 10px;
	border: solid 1px #c8c8c8;
	text-align: center;
}
#login-box .leaf-left {
	display: inline-block; 
	color: #0f0;
}
#login-box .leaf-right {
	display: inline-block; 
	color: #0f0; 
	transform: rotateY(180deg);
}
.title {
	margin:0 auto;
	text-align:center;
	padding:5px;
}
#add table {
	border-collapse:collapse;
	width:500px;
	margin:0 auto;
}
#add td {
	border:solid 1px #dfdfdf;
	padding:8px;
}

#editpwd {
	width:500px;
	margin:0 auto;
	text-align:center;
	line-height:35px;
}